.App {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #eee;
}

.transactions-container {
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid #000;
}

.transactionshead {
  list-style: none;
  padding: 0 ; 
  display : flex ;
  flex-direction : row ;
  justify-content : space-around
}

.transactionshead li {
  width: 200px;
  font-size: 10px;
  color: #bbb;
  text-transform: uppercase;
}

.transactions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border-bottom : 1px solid #F0F8FF;
  padding: 10px 0 ;
  margin: 15px 10px ;
  font-size : 11px;
  cursor: pointer;
}

.transactions li {
  width: 200px;
  color: #484848;
  text-transform: initial;
}

#page-numbers {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin : auto !important;
  border: 1px solid #ccc;
  padding-left: 0;
}